<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>jq-ppt</title>
	<link rel="stylesheet" type="text/css" href="ajax.css">
	<script src="./vue/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- <img src="img/img1/img-0.png" alt="">
		<div class="mu"></div>
		<span class="left-btn"></span>	
		<span class="right-btn"></span>
		<ul>
			<li class="active"></li>
			<li></li>
			<li></li>

		</ul>	 -->
	</div>
	<div>
		<a href="www.baidu.con">woesiii</a>
	<form>
		<div class='wrap'>
			<input type="text" name="user" >
			<input type="password" name="passw">
			<ul></ul>
		</div>
		<input type="radio" name="ra1" value="d1">
		<input type="radio" name="ra1" value="d2">
		<input type="radio" name="ra1" value="d3">
		<input type="radio" name="ra1" value="d4">

		<textarea id="tex" name="tex"></textarea>
		<button id="btn">按钮</button>
		<input type="submit" id="sub" value="提交">
	</form>
	</div>	

	<hr>
	<hr>
	<!-- 鼠标移入坐标判断方向 -->
	<hr>
	<div class="dragf">
	   <div class="drag"></div>
    </div>
	<input type="text" name="callme" class="call" >

	<hr>
	<hr>
	<!-- 放大镜 -->
	<div class="fwrapper">
		<div class="wrapper1">
			<img src="16.jpg">
			<div class="select1"></div>
		</div>
		<div class="fImg">
			<img src="16.jpg">
		</div >
	</div>

	<hr>
	<hr>
<!-- 正六边形 -->

	<div class="six-box">
	</div>

	<hr>
	<hr>

<!-- 图标联动 -->
<div class="tubiao">
	<a href="javascript:void(0)">
		<img src="che.png">
	</a>
	<a href="javascript:void(0)">
		<img src="chf.png">
	</a>
	<a href="javascript:void(0)">
		<img src="dy.png">
	</a>
	<a href="javascript:void(0)">
		<img src="fdj.png">
	</a>
	<a href="javascript:void(0)">
		<img src="hcp.png">
	</a>
	<a href="javascript:void(0)">
		<img src="sc.png">
	</a>
	<a href="javascript:void(0)">
		<img src="sc1.png">
	</a>
	<a href="javascript:void(0)">
		<img src="xp.png">
	</a>
	<a href="javascript:void(0)">
		<img src="zfw.png">
	</a>
</div>

	<hr>
	<hr>
<!-- 随机数应用 -->
<div class="suiji">
	
</div>


	<hr>
	<hr>
<!-- 豆瓣搜索图书 -->
<div class="douban">
	豆瓣<input type="text" class="search">
</div>

	<hr>
	<hr>
<!-- css3 -->
<div class="box3">
	<div class="item1 box4"></div>
	<ul class="fen">
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
	</ul>
</div>
	<hr>
	<hr>
<!-- css3动画 -->
<div class="wrapper4">
	<div class="item4 item4-1">11</div>
	<div class="item4 item4-2">22</div>
	<div class="item4 item4-3">33</div>
	<div class="item4 item4-4">44</div>
	<div class="item4 item4-5">55</div>
	<div class="item4 item4-6">66</div>
</div>
<!-- 正方体旋转 -->
	<hr>
	<hr>
<div class="wrapper5">
	<div class="item5 item5-1">11</div>
	<div class="item5 item5-2">22</div>
	<div class="item5 item5-3">33</div>
	<div class="item5 item5-4">44</div>
	<div class="item5 item5-5">55</div>
	<div class="item5 item5-6">66</div>
</div>
<!-- flex弹性布局 -->
	<hr>
	<hr>
<div class="flexbox">
	<div class="f f1">111</div>
	<div class="f f2">222</div>
	<div class="f f3">333</div>
	<div class="f f4">444</div>
	<ul class="u1">
		<li>555555</li>
		<li>666666</li>
		<li>777777</li>
		<li>888888</li>
		<li>999999</li>
	</ul>
</div>
	<hr>
	<hr>
<!-- css3相册展示 -->
<hr>
<div class="wrapperP">
	<ul class="photos">
		<li class="items">
			<div class="item photo1"></div>
			<p class="cont">pictures</p>
			<p class="title">birds</p>
			<span class="close"></span>
		</li>
		<li class="items">
			<div class="item photo2"></div>
			<p class="title">birds</p>
			<p class="cont">pictures</p>
			<span class="close"></span>
		</li>
		<li class="items">
			<div class="item photo3"></div>
			<p class="title">birds</p>
			<p class="cont">pictures</p>
			<span class="close"></span>
		</li>
		<li class="items">
			<div class="item photo4"></div>
			<p class="cont">pictures</p>
			<p class="title">birds</p>
			<span class="close"></span>
		</li>
		<li class="items">
			<div class="item photo5"></div>
			<p class="title">birds</p>
			<p class="cont">pictures</p>
			<span class="close"></span>
		</li>
		<li class="items">
			<div class="item photo6"></div>
			<p class="title">birds</p>
			<p class="cont">pictures</p>
			<span class="close"></span>
		</li>
	</ul>
</div>
<hr>
<hr>
<!-- 两个面模拟正方体鼠标滑过翻转 -->
<div class="wrapper-reverse">
	<div class="wrap_rotate wrap_in_top">
		<div class="show_photo"></div>
		<div class="hide_side">
			<p >
				这是一个软妹子
			</p>
		</div>
 	</div>
</div>
<hr>
<hr>
<div class="transform"></div>
<hr>
<hr>
<div class="em">
	多少看借两块
	<p id="em">
		哦哦哦k
		<span>woo地方</span>
	</p>
</div>
<br>
<br>
<br>
<br>
<hr>
<hr>
<!-- vue -->
<div class="vue1" >
	<!-- <div id="a" v-once>name: {{name}}  age: {{getAge}}</div> -->
	<!-- <div>函数: {{setAge()}}{{setName()}}</div> -->
	<div>函数: {{getName()}}</div>
	<input type="button"  v-on:click.ctrl = "setName" value="name">
	<input type="button"  v-on:click = "age--" value="age1">
	<input type="button"  v-on:click = "setAge" value="age2">
	<input type="button"  v-on:click = "key = !key" value="on/off">
	<!-- <div >{{age > 10 ? '小' : '大'}}</div> -->
	<div  v-if="age >10">
		<!-- 大人:{{getAge}} -->
	</div>
	<div v-else-if="age > 4">小孩</div>
	<div v-else>婴儿</div>
	<div v-show="key">显示隐藏</div>
	<input type="text" v-model.trim="val">:{{val}}<br>
	<input type="button"  v-on:click = "setMovies" value="movies">
	
	<ul>
		<li v-for="na in movies">名字：{{na}}，日期：{{persons.date}}</li>
	
	</ul>
	<input type="text" v-on:input = "inp">{{val}}<br>
	{{fullInp}}
	<div >
		{{val | upperCase()}}<br>{{val | firstWordUp}}<br>{{val | removeSpace}}
	</div>
	<div style="width: 200px;height: 300px;" v-bind:style="[styles,style1]"></div>
	<input type="button" v-on:click = "changeColor" value="color">
<my-component></my-component>	
</div>
<div class="comp">
	<your-component></your-component>
	<input type="button"  @click = "tellMe2" value="component">
<my-component></my-component>
	<p is="my-component"></p>
	<ul >
		<my-component></my-componet>
	</ul>
	
</div>
<!-- <img src="./071.jpg"> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript" src="jquery.js" ></script>
<script type="text/javascript" src="ajax.js" ></script>
<!-- <script type="text/javascript" src="callba.js" ></script> -->
</body>
</html>